<app-header titulo="Perfil"></app-header>

<ion-content class="ion-padding" color="dark">
  <div class="center">

    <ion-text>
      <h4>Nombre de la persona</h4>
    </ion-text>

    <ion-icon name="person-circle-outline" size="large"></ion-icon>
    
  </div>

  <ion-button routerLink="/tabs-general/nueva-clave" expand="full" color="danger" shape="round" class="ion-padding">
    Cambiar clave
  </ion-button>

  <ion-button routerLink="/login" expand="full" color="danger" shape="round" class="ion-padding">
    Cerrar sesion
  </ion-button>

</ion-content>
