<ion-content class="ion-padding" color="dark">

  <div class="titulo">
    <ion-text color="danger">
      <h1>UniGO</h1>
    </ion-text>
  </div>

  <h2>Informacion del Viaje</h2>

  <ion-item color="dark">
    <h4>pasaje dos sur 768</h4>
  </ion-item>

  <ion-item color="dark">
    <h4>josue loyola </h4>
  </ion-item>

  <ion-item color="dark">
    <h4>toyota gris abc-123</h4>
  </ion-item>

  <ion-button expand="full" color="danger" type="submit" shape="round" class="ion-padding">
    $3030
  </ion-button>

</ion-content>
