<app-header titulo="Mapa"></app-header>

<ion-content class="ion-padding" color="dark">

  <ion-text color="danger">
    <h1>UniGO</h1>
  </ion-text>

  <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Buses_del_Gran_Concepci%C3%B3n.png" alt="">

  <ion-button expand="full" color="danger" type="submit" shape="round" class="ion-padding" (click)="nuevoViaje()">
    agregar viaje
  </ion-button>

  <ion-text class="center">
    <h2>Mi Viaje</h2>
    <p>----------------------------------------------------------</p>
  </ion-text>

  <ion-card routerLink="/tabs-general/viaje" class="animate__animated animate__pulse animate__infinite">
    <ion-card-header>
      <ion-card-title>Talcahuano</ion-card-title>
      <ion-card-subtitle>pasaje 259</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Viaje a talcahuano para 3 personas a las 7pm(puedo dejarlos en su casa siempre y cuando vivan cerca de mi destino)
    </ion-card-content>

    <footer class="center">
      <ion-text>
        <h1>$3000</h1>
      </ion-text>
    </footer>
  </ion-card> 

</ion-content>
