<ion-content class="ion-padding" color="dark">
  <form #formRegister="ngForm" (ngSubmit)="onSubmit()">

    <h1>Registrate</h1>

    <ion-item color="dark">
      <ion-input labelPlacement="floating" label="Nombre" required type="text" aria-label="nombre" name="nombre" [(ngModel)]="registro.nombre" ></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input labelPlacement="floating" label="Apellido" required type="text" aria-label="apellido" name="apellido" [(ngModel)]="registro.apellido" ></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input labelPlacement="floating" label="Correo" required type="E-mail" aria-label="email" name="email" [(ngModel)]="registro.email" ></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input labelPlacement="floating" label="Contraseña" required type="password" aria-label="password" name="password" [(ngModel)]="registro.password" ></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input labelPlacement="floating" label="Repetir Contraseña" required type="password" aria-label="password2" name="password2" [(ngModel)]="registro.password2" ></ion-input>
    </ion-item>

    <ion-button expand="full" color="danger" type="submit" shape="round" class="ion-padding" [disabled]="formRegister.invalid">
      Login
    </ion-button>
    
  </form>

  <div class="center">
    <ion-text>
      <h4>¿ Ya tienes cuenta ?</h4>
      <ion-button (click)="irLogin()" expand="block" fill="clear" shape="round" color="danger">
        Logeate
      </ion-button>
    </ion-text>
  </div>

</ion-content>