<ion-tabs>
  <ion-tab-bar slot="bottom" color="danger">
    
    <ion-tab-button tab="home">
      <ion-icon color="dark" name="home-outline"></ion-icon>
      <ion-label color="dark">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" >
      <ion-icon color="dark" name="map-outline"></ion-icon>
      <ion-label color="dark">Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" class="seleccted">
      <ion-icon color="dark" name="person-circle-outline"></ion-icon>
      <ion-label color="dark">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>