<ion-content class="ion-padding" color="dark">
  
  <ion-text color="danger">
    <h1>UniGO</h1>
  </ion-text>
  <div class="center">
    <ion-text>
      <h2>Viajes Disponibles</h2>
      <p>----------------------------------------------------------</p>
    </ion-text>
  </div>

  <ion-card routerLink="/tabs-general/viaje" class="animate__animated animate__pulse animate__infinite">
    <ion-card-header>
      <ion-card-title>Talcahuano</ion-card-title>
      <ion-card-subtitle>pasaje 259</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Viaje a talcahuano para 3 personas a las 7pm(puedo dejarlos en su casa siempre y cuando vivan cerca de mi destino)
    </ion-card-content>

    <footer class="center">
      <ion-text>
        <h1>$3000</h1>
      </ion-text>
    </footer>
  </ion-card> 


</ion-content>

