<ion-content class="ion-padding" color="dark">
  <ion-text color="danger">
    <h1>UniGO</h1>
  </ion-text>

  <ion-text>
    <H2>Nueva Contraseña</H2>
  </ion-text>

  <p>Ingresa tu nueva Contraseña</p>

  <form #formCorreo="ngForm" (ngSubmit)="onSubmit()">

    <ion-item color="dark">
      <ion-input labelPlacement="floating" label="Contraseña" required type="password" aria-label="password" name="password" [(ngModel)]="usuario.clave" ></ion-input>
    </ion-item>

    <ion-button expand="full" color="danger" type="submit" shape="round" class="ion-padding" [disabled]="formCorreo.invalid">
      Enviar
    </ion-button>
  </form>

</ion-content>
